:root {
  --calculado: calc(100vh - 200px);
}

body {
  background: #14d9c4;
  font-family: arial, sans-serif;
  margin: 0;
}
.boxes {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* height: 100vh; */
  box-sizing: border-box;
}

.box {
  background: #d0f7f3;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 200px;
  box-sizing: border-box;
  transform: translateY(var(--calculado));
  transition: transform 5s ease;
  /* (calc(100vh-200px) */
}

body:hover .box {
  transform: translateY(40vh);
}
.box__label {
  position: absolute;
  bottom: 0;
  right: 1em;
  top: 1em;
  font-size: 9px;
  text-transform: uppercase;
  /* transition-timing: transform 0.5; */
}
